/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Montserrat', sans-serif;
}
body {
    color: #6b6b6b;
}
.app-wrapper {
    width: 100%;
    height: 100vh;
}
.text-white {
    color: white;
}
.flex {
    display: flex;
}

/* Upgrade section */

.upgrade {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    color: white;
    position: fixed;
    width: calc( 100% - 250px );
    height: 80px;
    z-index: 10;
}
.upgrade-btn {
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 40px;
    border: 1px solid white;
    border-radius: 20px;
}
.upgrade-btn:hover {
    transform: scale(1.1);
}

/* MAIN */

main {
    background-color: #141922;
    width: 100%;
    height: calc( 100vh - 80px );
    display: flex;
}

/* Left nav main */

.left-nav {
    background-color: black;
    width: 250px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.logo {
    width: 65%;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 80px;
}
.hidden-logo {
    display: none;
}
.nav-links {
    height: 100px;
}
.nav-links ul li {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin: 1rem 0;
}
.nav-links ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6b6b6b;
}
.nav-links ul li a:hover, .nav-links ul li a img:hover{
    opacity: 1.0;
    color: white;
}
.nav-links ul li a img {
    opacity: 0.5;
}
.nav-links ul li:first-child {
    border-left: 3px solid #adff2f;
}
.nav-links ul li:nth-child(2) {
    padding-left: 19px;
}
.nav-links ul li:nth-child(3) {
    padding-left: 19px;
}
.nav-links ul li img {
    width: 25px;
    margin-right: 0.5rem;
}
.playlists {
    padding: 1rem;
    height: calc( 100% - 240px );
    overflow: hidden;
    margin-top: 1rem;
}
.new-playlist {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}
.new-playlist a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6b6b6b;
}
.new-playlist a:hover {
    color: white;
}
.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #a3a3a3;
    margin-right: 0.5rem;
    color: black;
}
.playlist-list {
    list-style-type: none;
    overflow-y: auto;
    height: 70%;
}
.playlist-list li {
    margin: 0.5rem 0;
}
.playlist-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6b6b6b;
}
.playlist-list li a:hover {
    color: white;
}
.user-info {
    height: 60px;
    padding-left: 1rem;
}
.bar-nav {
    width: 90%;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: gray;
    height: 1px;
    margin: 0.5rem auto;
    padding-right: 1rem;
}
.user-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6b6b6b;
}
.user-info .download a:hover {
    color: white;
}
.username img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 0.5rem;
}
.download {
    align-items: center;
}
.download img {
    width: 20px;
    margin-right: 0.5rem;
}

/* Content section main */

.content {
    background-color: #141922;
    width: calc( 100% - 250px);
    overflow-y: auto;
    padding-top: 100px;
}
.content .categories .flex li a:first-child {
    position: relative;
}
.green-bar {
    position: absolute;
    bottom: -7px;
    right: 30px;
    width: 45px;
    border-radius: 25px;
    border: 1px solid #adff2f;
    background-color: #adff2f;
    height: 4px;
}
.categories .flex {
    flex-wrap: wrap;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
}
.categories .flex li a {
    color: #6b6b6b;
    text-decoration: none;
    margin: 0 1rem;
}
.categories .flex li {
    margin: 1rem 0;
}
.categories .flex li a:hover {
    color: white;
}
.card-container {
    width: 95%;
    margin: 2rem 0;
    gap: 1.2rem;
}
.img-box {
    position: relative;
}
.img-box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.card:hover i {
    display: block;
}
.card:hover img {
    filter: opacity(0.5);
}
.card {
    width: calc( (100% / 6) - 1rem )
}
.card h4 {
    margin: 0.75rem 0;
    text-align: center;
}
.main-content span {
    font-size: 12px;
    color: #6b6b6b;
    text-align: center;
    display: block;
}
.card img {
    width: 100%;
}
.main-content p {
    font-size: 12px;
    color: #6b6b6b;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}
.popular-artists .card-container .card img {
    border-radius: 50%;
}
.main-content {
    color: white;
    margin: 2rem auto;
    width: 95%;
    display: flex;
    flex-direction: column;
}

/* FOOTER */

footer {
    background-color: #282828;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* Left footer */

.left-footer {
    display: flex;
    align-items: center;
    width: 25%;
}
.left-footer img {
    width: 10%;
    margin-right: 0.5rem;
}
.left-footer i {
    margin-right: 1rem;
}
.trackandartist-name {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.left-footer a {
    color: #6b6b6b;
    text-decoration: none;
}
.left-footer a:hover {
    color: white;
}
.track-name {
    font-size: 10px;
}
.artist-name {
    font-size: 10px;
}

/* Middle footer */

.middle-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.top-middle-footer {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.bottom-middle-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-middle-footer span {
    font-size: 12px;
}
.bar {
    width: 70%;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: gray;
    height: 5px;
    margin: 0 1rem;
}
.live-bar {
    width: 30%;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: lightgray;
    height: 4px;
    position: relative;
}
.time-ball {
    display: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    right: 0;
}
.bar:hover .time-ball {
    display: block;
}
.bar:hover .live-bar {
    border: #adff2f;
    background-color: #adff2f;
}

/* Right footer */

.right-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.volume-bar {
    width: 50%;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: gray;
    height: 5px;
}
.live-volume {
    width: 25%;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: lightgray;
    height: 4px;
    position: relative;
}
.volume-ball {
    display: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    right: 0;
}
.volume-bar:hover .volume-ball {
    display: block;
}
.volume-bar:hover .live-volume {
    background-color: #adff2f;
    border: #adff2f;

}
/* Media Queries */

/* md */
@media screen and (max-width: 1100px) {
    .card-container {
        flex-wrap: wrap;
    }
    .card {
        width: calc( (100% / 4) - 1rem )
    }
}

/* s */
@media screen and (max-width: 700px) {
    .card-container {
        flex-wrap: wrap;
    }
    .card {
        width: calc( (100% / 2) - 1rem )
    }
}

/* xs */ 
@media screen and (max-width: 600px) {
    .left-nav {
        width: 70px;
    }
    .hidden-logo {
        display: block;
        width: 60%;
        margin: 0 auto;
        padding-top: 0.5rem;
    }
    .logo {
        display: none;
    }
    .hidden-mobile {
        display: none;
    }
    .nav-links {
        flex-grow: 10;
    }
    .bar-nav {
        display: none;
    }
    .content {
        width: calc( 100% - 70px);
    }
    .upgrade {
        width: calc( 100% - 70px);
    }
}
